:root {
   --primary-color: #2282c7;
   --secondary-color: #f5f5dc79;
}

* {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

body {
   text-align: center;
   font-family: "Noto Sans", sans-serif;
}

header {
   display: flex;
   /* padding: 10px 0; */
   background-color: var(--secondary-color);
   box-shadow: 0 4px 4px 0 rgba(51, 51, 51, 0.1);
}
nav {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: space-between;
}
.class {
   display: flex;
   align-items: center;
   padding: 5px 50px 5px 0;
   background-color: #fff;
   border-top-right-radius: 35px;
   border-bottom-right-radius: 35px;
   gap: 2rem;
}
.class img {
   margin-left: 60px;
}
ul {
   display: flex;
   list-style-type: none;
      justify-self: right;

   gap: 20px;
}
.nav-link {
   color: #000;
   text-decoration: none;
   font-size: 13px;
}
.nav-link:hover {
   color: var(--primary-color);
   transition: 0.4s;
}
.login-signup-wrapper {
   display: flex;
   height: 40px;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   margin: auto 5% auto auto;
   background-color: #fff;
   border-radius: 30px;
}
/* nav a {
   color: #000;
   font-size: 12px;
} */
.fa-user {
   margin: auto 10px;
}

.h1 {
   color: #2282c7;
   margin: 10px auto;
} 

/* >>> Comment out web app static element<<< */
/* .wep-app-wrap {
   padding: 10px 0;
   margin: 2rem auto auto;
   background-image: url("https://res.cloudinary.com/ddatfadov/image/upload/v1749682783/image_8_vqs1vo.jpg");
   background-repeat: no-repeat;
   background-position-y: 40%;
} */

/*....section: features ...*/
.section-features {
   position: relative;
   padding-bottom: 20px;
   margin: 3rem 5% 0;
   background-color: #000000b4;
}

.feature-overlay {
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url("https://res.cloudinary.com/ddatfadov/image/upload/v1749684342/f61fccdc61ade72bf84b4575e7522131cbbeafd6_r8sug7.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: -1;
}
.section-features h2 {
   color: #fff;
}
.feature-wrap {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   margin: 2rem 20px;
   gap: 20px;
}
.feature {
   display: block;
   height: 400px;
   border-radius: 5px;
   background-color: #fff;
}
.feature img {
   width: 95%;
   height: 150px;
   margin: 2%;
   border-radius: inherit;
}
.feature h3 {
   text-transform: capitalize;
   text-align: justify;
   margin: 4%;
}
.feature p {
   text-align: justify;
   margin: 4%;
}


/*....section: green lotto ...*/
.section-green-lotto {
   color: #f5f5dc;
   padding: 5rem 0;
   background-color: #000;
   font-size: 22px;
}
.green-lotto-all-content-box {
   margin: auto 5%;
}
.section-green-lotto h3 {
   color: rgba(16, 185, 129, 0.8);
   text-transform: capitalize;
   margin-bottom: 20px;
   font-size: 2rem;
}
.section-green-lotto ul {
   display: list-item;
   list-style-type: disc;
   list-style-position: inside;
}
::marker {
   color: rgba(16, 185, 129, 0.8);
}

.apply-now-btn {
   color: #fff;
   text-transform: capitalize;
   background-color: rgba(16, 185, 129, 0.8);
   padding: 10px 15px;
   margin-top: 30px;
   width: 300px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
}
.apply-now-btn:hover {
   color: #000;
   /* color: rgba(16, 185, 129, 0.8); */
   background-color: #fff;
   transition: 0.4s;
}


/*....section: Why choose us ...*/
.section-why-chose {
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
}
.all-contents-box {
   margin: 5%;
}
.trust-content-wrap {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin: 3em;
   gap: 20px;
}
.section-why-chose h5 {
   margin: 10px auto;
}
.section-why-chose p {
   font-size: 13px;
   line-height: normal;
}

/*...........................
testimonial


..............................*/

/*....section: sub ...*/
.section-sub {
   position: relative;
   overflow: hidden;
}
.section-sub .light-blue-overlay {
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgb(228, 247, 253);
   height: 350px;
   width: 100vw;
   z-index: -1;
}
.sub-heading-wrap {
   margin: 3rem auto;
}
.sub-plans {
   display: flex;
   justify-content: center;
   margin: auto 5%;
   font-family: "Noto Sans", sans-serif;
   gap: 10px;
}
.sub-plan li {
   display: block;
}
.plan-card {
   color: #fff;
   display: flex;
   justify-content: center;
   width: 250px;
   height: 350px;
   text-align: justify;
   margin: 0;
   background-color: var(--primary-color);
}
.article-content-box {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 3%;
}
.plan-card h4 {
   text-transform: capitalize;
   margin: 10px auto 5px;
}
.amount {
   margin-bottom: 20px;
   font-size: 24px;
}
.plan-card small {
display: block;
margin-top: 10px;
} 
.sub-btn {
   color: var(--primary-color);
   padding: 10px 0;
   background-color: #fff;
   margin-bottom: 10px;
   border: none;
   border-radius: 5px;
   font-family: "Nunito";
   cursor: pointer;
}

.basic-plan-card {
   background-color: #a52a2a;
}
.basic-plan-card .sub-btn {
   color: #a52a2a;
}


/*....section: Games results ...*/
.section-games-result {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5rem 0;
}
.section-games-result h3 {
   text-transform: capitalize;
   margin-bottom: 20px;
}
.babaijebu {
   color: #ff0000;
}
.ghana {
   color: #ffff00;
   padding: 0 10px;
   background-color: #000;
}

.board-result {
   display: flex;
   flex-wrap: nowrap;
   align-items: center; 
   max-inline-size: 100%;
   margin: 30px 5%;
   gap: 10px;
}
table {
    width: 400px;
    border-collapse: collapse; 
    border-left: 2px solid rgba(0, 0, 0, 0.333);
}
caption {
    text-transform: uppercase;
    font-size: 15px;
}
th{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 3px;
}
td {
    border-top: 1px solid black;
    padding: 3px 0;
}
.serial-num {
    width: 8px;
    text-align: center;
    border: 1px solid black;
    font-size: 8px;
}
.week {
   width: 15px;
}
.days{
    position: relative;
    color: #000;
    border: 1px solid black;
    background-color: whitesmoke;
    font-size: 8px;
}
#lbw {
   border-right: 1px solid red;
}
#fbm {
   border-left: 1px solid red;
}
.winning {
   color: blue;
   text-align: center;
   font-size: 12px;
}
.machine {
   color: red;
   text-align: center;
   font-size: 12px;
}
.day-result  {
   display: block;
   color: #ececec;
   width: 200px;
   padding-top: 10px;
   margin: 30px auto;
   border-radius: 5px;
   border-top: 2px solid var(--secondary-color);
   box-shadow: 1px 2px 5px 0px #000;
}
time {
   display: block;
   text-transform: uppercase;
   background-color: #000;
   border-bottom: 1px solid #f5f5f5;
   border-radius: 5px;
   font-size: 13px; 
}
.each-result-wrap {
   width: 100%;
   margin-top: 12px;
}
.day-result span {
   color: #000; 
   text-decoration: underline;
   text-transform: capitalize;
   margin: 0;
   font-weight: normal;
   font-size: 12px;
}
.day-result  p {
   line-height: 10px;
   margin: 0;
   font-size: 12px;
}
.get-started {
   display: block;
   color: #fff;
   width: 300px;
   padding: 10px 0;
   margin: 20px auto;
   text-decoration: none;
   background-color: var(--primary-color);
   border-radius: 5px;
   font-weight: 600;
}


/* footer */
footer {
   display: flex;
   color: #fff;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
}

.fot-up-wraper {
   display: flex;
   margin: 5% 5% 3em;
   gap: 4em;
}
.left-content-wrap {
   width: 50%;
}
.left-content-wrap img {
   display: block;
   border-radius: 50%;
}
.left-content-wrap small {
   display: block;
   text-align: justify;
   font-size: 10px;
}

/* START:- wrapper for all content inside fot-up-wraper */
.right-content-wrap {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 50%;
   text-align: justify;
}
.right-content-wrap h6 {
   text-transform: capitalize;
}
.right-content-wrap a {
   color: #fff;
   display: block;
   margin: 10px auto;
   text-decoration: none;
   font-size: 12px;
   transition: 0.3s;

}
.right-content-wrap a:hover {
   color: var(--secondary-color);
}
/* END:- wrapper for all content inside fot-up-wraper */

.fot-down-wrapper {
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 2px solid var(--secondary-color);
   font-size: 11px;
   margin-bottom: 3em;
}
.fot-down-wrapper div {
   padding: 10px;
   margin: auto 5%;
}
.fot-down-wrapper a {
   color: #fff;
   text-decoration: none;
   font-size: 11px;
}

/* icons */
footer .fa-brands {
   font-size: 14px;
}


/*................... Carousel ...............*/
.slideshow-container {
   max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}












                      /* Breakpoints */
     /*(400-430px device)*/  
     @media screen and (max-width: 430px) {
        body {
            width: 100%;
        }
        
        table {
            width: 400px;
            margin-block-start: 30px;
        }
        .year {
            font-weight: bold;
            font-size: 17px;
        }
        .serial-num {
            width: 30px;
        }
        .days {
            width: 10px;
        }
        .winning,
        .machine {
            font-size: 16.5px;
        } 
     }


     /*(360-393px device)*/  
     @media screen and (max-width: 393px) {
        body {
            width: 100%;
        }
        
        table {
            width: 350px;
            margin-block-start: 25px;
        }
        .year {
            font-weight: bold;
            font-size: 16px;
        }
        .serial-num {
            width: 30px;
        }
        .winning,
        .machine {
            font-size: 15px;
        } 
     }
     

    /*(320px device)*/ 
    @media screen and (max-width: 359px) {
        body {
            width: 100%;
        }

        table {
            width: 300px;
            margin-block-start: 20px;

        }
        /* .year {
            font-weight: bold;
            font-size: 16px;
        } */
        .line,
        .serial-num {
            display: none;
        }
        .winning,
        .machine {
            font-size: 18px;
        }  
    }
  