:root {
   --primary-color: #2282c7;
   --secondary-color: #f5f5dc79;
}

* {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

body {
   text-align: center;
   font-family: "Noto Sans", sans-serif;

}

header {
   display: flex;
   padding: 10px 0;
   background-color: var(--secondary-color);
}
nav {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: space-between;
   /* background-color: #2282c7; */
}
.class {
   display: flex;
   margin-left: 60px;
   align-items: center;
   /* padding: 20px auto; */
   background-color: #fff;
   border-top-right-radius: 35px;
   border-bottom-right-radius: 35px;
   /* height: 50px; */
}
ul {
   display: flex;
   list-style-type: none;
   gap: 20px;
}
.nav-link {
   text-decoration: none;
}
.login-signup-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   margin-right: 100px;
   background-color: #fff;
   border-radius: 30px;
}
.fa-user {
   margin: auto 10px;
}

.h1 {
   color: #2282c7;
   margin: 20px auto 10px;

} 

.wep-app-wrap {
   padding: 10px 0;
   margin: 2rem auto auto;
   background-image: url("https://res.cloudinary.com/ddatfadov/image/upload/v1749682783/image_8_vqs1vo.jpg");
   background-repeat: no-repeat;
   background-position-y: 40%;
}

.features-section {
         background-color: #ff0000;
   margin: 2rem 5%;
}

.overlay {
   background-image: url("https://res.cloudinary.com/ddatfadov/image/upload/v1749684342/f61fccdc61ade72bf84b4575e7522131cbbeafd6_r8sug7.png");
}
.feature-wrap {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   /* height: 500px; */
   /* gap: 10px; */
}
.feature {
   display: block;
   width: 300px;
   margin: 10px 0;
   border-radius: 5px;
   background-color: #fff;
}
.feature img {
   width: 95%;
   height: 150px;
   margin: 2%;
   border-radius: inherit;
}
.feature h3 {
   text-align: justify;
   margin: 2%;
}
.feature p {
   text-align: justify;
      margin: 2%;

}


.section-why-chose {
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* line-height: 30px; */
   background-color: var(--primary-color);
}
.all-contents-box {
   margin: 5%;
}
.trust-content-wrap {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin: 3em;
   gap: 20px;
}
.section-why-chose h5 {
   margin: 10px auto;
}
.section-why-chose p {
   font-size: 13px;
   line-height: normal;
}






footer {
   display: flex;
   color: #fff;
   justify-content: center;
   align-items: center;
   background-color: var(--primary-color);
}

.fot-up-wraper {
   display: flex;
   margin: 5% 5% 3em;
   gap: 4em;
}
.left-content-wrap {
   width: 50%;
}
.left-content-wrap img {
   display: block;
   border-radius: 50%;
}
.left-content-wrap small {
   display: block;
   text-align: justify;
   font-size: 10px;
}

/* START:- wrapper for all content inside fot-up-wraper */
.right-content-wrap {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 50%;
   text-align: justify;
}
.right-content-wrap h6 {
   text-transform: capitalize;
}
.right-content-wrap a {
   color: #fff;
   display: block;
   margin: 10px auto;
   text-decoration: none;
   /* border: 1px solid var(--primary-color); */
   font-size: 12px;
   transition: 0.4ms;

}
.right-content-wrap a:hover {
   color: var(--secondary-color);
}
/* END:- wrapper for all content inside fot-up-wraper */

.fot-down-wrapper {
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 2px solid var(--secondary-color);
   font-size: 11px;
   margin-bottom: 3em;
}
.fot-down-wrapper div {
   padding: 10px;
   margin: auto 5%;
}
.fot-down-wrapper a {
   color: #fff;
   text-decoration: none;
   font-size: 11px;
}

/* icons */
footer .fa-brands {
   font-size: 14px;
}

